body {
   background-image: url(../img/background.png);
   background-size: cover;
   background-repeat: no-repeat;
}

.header {
    background-color:rgba(0,0,0,0.41);
    padding: 20px 0;
    font-family: 'Verdana', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header-logo {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    margin-left: 80px;
    float: left;
}   

.header-logo:hover {
    color: #3cb878;
    transition: all 500ms; 
}

.header-menu {
    float: right;
    padding-right: 75px;
}

.box-sprite {
    float: left;
}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    margin-right: 28px;
}

.sprite:last-child {
    margin-right: 25px;
}

.sprite-1 {
    width: 19px;
    height: 19px;
    background-position: -5px -5px;
    float: left;
}

.sprite-1:hover {
    width: 19px;
    height: 19px;
    background-position: -34px -5px;
    transition-duration: 0.2s;
}

.sprite-2 {
    width: 28px;
    height: 20px;
    background-position: -5px -34px;
    float: left;
}

.sprite-2:hover {
    width: 28px;
    height: 20px;
    background-position: -43px -34px;
    transition-duration: 0.2s;
}

.sprite-3 {
    width: 20px;
    height: 20px;
    background-position: -81px -5px;
    float: left;
}

.sprite-3:hover {
    width: 20px;
    height: 20px;
    background-position: -81px -35px;
    transition-duration: 0.2s;
}

.header-text {
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    padding-left: 25px;
    border-left: 1px solid #31302e;
}

.header-link {
    color: #3cb878;
    text-decoration: none;
}

.header-link:hover {
    border-bottom: 1px solid #3cb878;
    transition-duration:  0.3s; 
}

html, body {
    height: 100%;
}

.flex-container {
    height: calc(100% - 18px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.authorization {
    width: 445px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.5);
}

.authorization-greensquare {
    width: 18px;
    height: 18px;
    background-color: #3cb878;  
    margin-top: 30px;
    float: left;
}

.authorization-box {
    margin: 30px 0 0 62px;
    font-family: 'Verdana', sans-serif;
}

.authorization-box-signup {
    font-size: 20px;
    color:  #434343;
    float: left;
    width: 275px;
    margin-bottom: 15px;
}

.authorization-box-link {
    color: #3cb878;
    text-decoration: none;
    font-size: 14px;
}

.authorization-box-link:hover {
    border-bottom: 1px solid #3cb878;
    transition-duration: 0.3s; 
}

.fa-facebook-f {        /*Font Awesome*/
    color: #ffffff;
    float: left;
    width: 10px;
    height: 20px;
    border-right: 1px solid #2b54a5;
    margin: 10px 14px 0px 20px;
    padding-top: 3px;
    padding-right: 10px;
}

.fa-google-plus-g {      /*Font Awesome*/
    color: #ffffff;
    float: left;
    width: 25px;
    height: 16px;
    border-right: 1px solid #c8422d;
    margin: 10px 16px 0px 15px;
    padding-top: 5px;
    padding-right: 5px;
}

.link-Facebook {
    height: 45px;
    width: 156px;
    background-color: #305db8;
    color: #cad2e9;
    margin-right: 10px;
    margin-bottom: 25px;
    text-decoration: none;
    font-size: 16px;
    float: left;
    border-radius: 5px;
}

.link-Facebook:hover {
    background-color: #264b96;
    transition-duration: 0.3s;
}

.link-Google {
    display: inline-block;
    height: 45px;
    width: 156px;
    color: #cad2e9;
    background-color: #df4a32;
    margin-bottom: 25px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.link-Google:hover {
    background-color: #c3412c;
    transition-duration: 0.3s;
}

.link-FacebookGoogle-text {
    padding-top: 15px;
}

.authorization-or {
    color:  #848484;
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
    width: 322px;
    overflow: hidden;
}

.authorization-or:before,
.authorization-or:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  background: #eaeaea;
  border: solid #FFF;
  border-width: 0 15px;
}

.authorization-or:before {
    margin-left: -100%;
}

.authorization-or:after {
    margin-right: -100%;
}

.input {
    padding: 15px 125px;
    font-size: 14px;
    border-radius: 5px; 
}

.input-text {
    margin-bottom: 9px;
    border: 1px solid #eaeaea;
    padding-left: 20px;
    outline:none;
}

.input-text:focus {
    color: #434343;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}

.input-submit {
    border: 0px;
    color: #ffffff;
    font-size: 16px;
    background-color: #3cb878;
    border-radius: 5px; 
    padding: 15px 107px;
    text-align: center;
    margin-bottom: 30px;
}

.input-submit:hover {
    transition-duration: 0.4s;
    background-color: #329a65;
}

.input-chekbox {
    display: none;
}

.input-chekbox + .label:before {
    content: "\2714";
    display: inline-block;
    border: 1px solid #eaeaea;
    color: #ffffff;
    font-size: 20px;    
    line-height: 22px;
    margin: -5px 5px 0 0;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
    margin: 17px 0px 24px 0px;
}

.input-chekbox:checked + .label:before {
    color: #3cb878;
    
}

.label {
    font-size: 14px;
}

.greenlabel {
    color: #3cb878;
    display: inline-block;
    font-size: 14px;
}

.greenlabel:hover {
    text-decoration: underline;
    transition-duration:  0.3s; 
}